*.png~
*.kra~
*.kra
*.torrent
ForgeVTT-export-mummys-mask-2023-04-20_12_39_39.zip
ForgeVTT-export-mummys-mask-2023-04-20_21_2_33.zip
heliope classes.zip
find . -size +99M | sed 's|^\./||g' | cat >> .gitignore; awk '!NF || !seen[$0]++' .gitignore
